<div class="main_wapper wrapper">
  <div id="toasterDiv" style="display: none ;position:absolute;top:0px;right:10px;color:white;background:yellowgreen;" class="alert" ></div>
<!--Lest Sidebar-->
   <form #saveRange="ngForm" id="saveRanges" >
         <div id="Sidebar">
            <div id="integration-list">
               <ul>
                  <li>
                     <div class="integration-slider">
                        <div class="range-slider square">
                          <nouislider [connect]="true" name="baseParams" [(ngModel)]="BaseParams" [config]="someKeyboardConfig" (change)="saveBaseParamRange('base',$event)"></nouislider>
                        </div>

                        <a class="expand">
                           <div class="right-arrow">▼</div>
                           <div>
                              <h2>Base Parameters</h2>
                           </div>
                        </a>
                        <div class="detail" style="display: none;">
                           <div class="Parameters_Content">
                              <ul>
                                 <li>
                                    <div class="Parameters_Content_Title">Height</div>
                                   <nouislider [connect]="true" name="Height"  [(ngModel)]="Height" [config]="someKeyboardConfig" (change)="saveBaseParamRange('height',$event)"></nouislider>
                                 </li>
                                 <li>
                                    <div class="Parameters_Content_Title">Weight</div>
                                   <nouislider [connect]="true"  name="Weight" [(ngModel)]="Weight" [config]="someKeyboardConfig" (change)="saveBaseParamRange('weight',$event)"></nouislider>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="expand-box">
                        <ul>
                           <li></li>
                           <li></li>
                           <li></li>
                        </ul>
                     </div>
                     <a class="expand">
                        <div class="right-arrow">▼</div>
                        <h2 class="t-white">Ethnicity</h2>
                     </a>
                     <div class="detail" style="display: none;">
                        <div class="Parameters_Content text-blue m-cutom">
                           <ul>
                              <li>
                                 <div class="Parameters_Content_Title m-custom">Asian</div>
                                 <nouislider [connect]="true" name="Asian" [(ngModel)]="Asian" [config]="someKeyboardConfig" (change)="saveBaseParamRange('asian',$event)"></nouislider>
                              </li>
                              <li>
                                 <div class="Parameters_Content_Title m-custom">African</div>
                                <nouislider [connect]="true" name="African"  [(ngModel)]="African" [config]="someKeyboardConfig" (change)="saveBaseParamRange('african',$event)"></nouislider>
                              </li>
                              <li>
                                 <div class="Parameters_Content_Title m-custom">Caucasian</div>
                                 <nouislider [connect]="true" name="Caucasian"  [(ngModel)]="Caucasian" [config]="someKeyboardConfig" (change)="saveBaseParamRange('caucasian',$event)"></nouislider>
                              </li>
                              <li class="sex-r-slider">
                                 <div class="integration-slider">
                                    <a>
                                       <h2>Sex</h2>
                                       <nouislider [connect]="true" name="Sex" [(ngModel)]="Sex" [config]="someKeyboardConfig" (change)="saveBaseParamRange('sex',$event)"></nouislider>
                                 </a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="part-styler">
               <ul>
                  <li>
                     <div class="integration-slider">
                        <div class="move-arrow">
                           <a href="#"><i class="fa fa-minus"></i></a>
                           <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        <a class="expand">
                           <div class="right-arrow">▼</div>
                           <div>
                              <h2>Part Styler</h2>
                           </div>
                        </a>
                        <div class="detail b-none" style="display: none;">
                           <div class="Parameters_object">
                              <img src={{bodyPartImage}} style="width:202px;height:292px" alt="" usemap="#Bodymap">

                              <map name="Bodymap">


<area alt="" title="left leg" (click)='bodyPartTypeSelected("leg")' shape="poly" coords="75,123,100,147,87,258,74,258" />
    <area alt="" title="right leg" (click)='bodyPartTypeSelected("leg")' shape="poly" coords="123,121,108,148,115,256,130,257" />
    <area alt="" title="left foot" (click)='bodyPartTypeSelected("foot")' shape="rect" coords="68,260,88,280" />
    <area alt="" title="right foot" (click)='bodyPartTypeSelected("foot")' shape="rect" coords="112,259,138,281" />
	
	 <area alt="" title="left hand" (click)='bodyPartTypeSelected("hand")'shape="rect" coords="9,118,33,152" />
    <area alt="" title="right hand" (click)='bodyPartTypeSelected("hand")' shape="rect" coords="164,124,199,147" />
    <area alt="" title="left arm" (click)='bodyPartTypeSelected("arm")' shape="poly" coords="67,49,83,63,36,120,23,115" />
    <area alt="" title="right arm" (click)='bodyPartTypeSelected("arm")' shape="poly" coords="126,48,119,63,164,118,179,114" />
    <area alt="" title="neck" (click)='bodyPartTypeSelected("neck")' shape="rect" coords="94,36,112,45" />
    <area alt="" title="head" (click)='bodyPartTypeSelected("head")' shape="rect" coords="84,8,120,23" />
   
 <area alt="" title="breast" (click)='bodyPartTypeSelected("breast")' shape="poly" coords="80,51,122,49,128,84,76,86" />
    <area alt="" title="torso" (click)='bodyPartTypeSelected("torso")' shape="poly" coords="79,92,127,93,128,119,103,136,77,118" />
      
</map>

                              <div class="upload">
                              <a href="#"><img src="assets/images/recycling.png" alt=""></a>
                              <div style="display: none">
                              <input type="file" [(ngModel)]="sanitizedInput" name="sanitizedInput" />{{sanitizedOutput}}
                              <input type="file" [(ngModel)]="sanitizedOutput" name="sanitizedOutput" />
                              </div>
                               <input type="button" name="save" class="upload-btn" value="Upload" (click)="saveRanges()">
                               </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
        
         </div>
   </form>
         <!--Lest Sidebar-->
         <!--Container-->
         <div id="content-wrapper">
            <div class="object-container">
               <div class="object-container-in">
                  <div class="object-container-l" *ngIf="processedFiles.length>0">
                <div class="block" (click)="imageSelected(0)" >
                      <img *ngIf="processedFiles" class="block_img" src={{processedFiles[0].file}}/>
                     </div>
                     <div class="block" (click)="imageSelected(1)">
                    <img *ngIf="processedFiles"  class="block_img" src={{processedFiles[1].file}}/>
                     </div>
                     <div class="block" (click)="imageSelected(2)">
                      <img *ngIf="processedFiles" class="block_img" src={{processedFiles[2].file}}/>
                    </div>
                     <div class="block" (click)="imageSelected(3)">
                       <img *ngIf="processedFiles"  class="block_img" src={{processedFiles[3].file}}/>
                    </div>  
                </div>
                  <div class="object-img-container object-fix">
                     <div class="block block-object" *ngIf ="selectedImage">
                        <img src={{selectedImage.file}} >
                     </div>
                  </div>
                  <div class="object-container-l" *ngIf="processedFiles.length>0">
                  <div class="block" (click)="imageSelected(4)"  >
                      <img *ngIf="processedFiles" class="block_img" src={{processedFiles[4].file}}/>
                     </div>
                     <div class="block" (click)="imageSelected(5)">
                    <img *ngIf="processedFiles"  class="block_img" src={{processedFiles[5].file}}/>
                     </div>
                     <div class="block" (click)="imageSelected(6)">
                      <img *ngIf="processedFiles" class="block_img" src={{processedFiles[6].file}}/>
                    </div>
                     <div class="block" (click)="imageSelected(7)">
                       <img *ngIf="processedFiles"  class="block_img" src={{processedFiles[7].file}}/>
                    </div>  
                  </div>
               </div>
            </div>
         </div>
         <!--Container-->         
         <!--Right Sidebar-->
         <div id="RSidebar">
           <div class="btn-panel" >
                  <button class="btn btn-primary btn-panel_btn" [disabled]="!changeHistory.length>0" (click)="undo()" >Undo</button>  
                
                  <button class="btn btn-primary btn-panel_btn " (click)="merge()"> Merge</button></div> 
           
          <h1>{{bodyParts.part}}</h1>
            <div class="rsidebar-block" *ngFor="let bodyPart of bodyParts.files;let i=index"  >
                    <div class="rangeSlider_block" (click)="bodyPartSelected(i)" >
                  <div [class]="selectedBodyPart&&selectedBodyPart.file==bodyPart.file?'block active':'block'">

                    <img src={{bodyPart.file}} class="block_img">
                  </div>
                 <!--  <nouislider [min]="0" [max]="15" [step]="0.05" [(ngModel)]="someValue" (change)="saveRange($event)" [disabled]="disabled"></nouislider> -->
               </div>
             </div>
         </div>
         <!--Right Sidebar-->
</div>